@model BookLib.Web.Models.SearchResultViewModel
﻿@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        @*@using (Html.BeginForm("SearchResult", "Home", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))*@
        @using (Html.BeginForm())
        {

            <div class="input-group">
                @Html.DropDownListFor(model => model.SelectedFilterType, Model.FilterTypes, "-- Select Filter Type --", new { @class = "form-control" })
                @Html.TextBoxFor(m => m.SearchKey, new {@class = "form-control"})
                <div class="input-group-btn">
                    <input type="submit" value="SEARCH BOOK LIBRARY" class="btn btn-primary"/>
                </div>

            </div>

        }
            @{
                if (@Model.SearchResults.Any())
                {
                    <hr/>
                    <blockquote class="text-warning">
                        <h5>@Model.SearchResults.Count() items found for <strong>@Model.SearchKey</strong></h5>
                    </blockquote>
                    <hr/>
                }
            }

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("PlaceDemand", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    foreach (var m in Model.SearchResults)
                    {
                        <div class="row">
                            <div class="media">
                                <div class=" media-body">
                                    <h3 class="media-heading">@m.Title</h3>
                                    <span class="pull-left">
                                        <strong>Publisher:</strong> [@m.Publisher]
                                        <br />
                                        <strong>Author:</strong> @m.Authors
                                        <p><strong>Description:</strong> @m.Description</p>
                                    </span>

                                    <span class=" pull-right">
                                        <input type="submit" value="Place Demand" class="form-control btn btn-primary" />
                                    </span>

                                </div>
                                <hr />
                            </div>
                        </div>

                    }
                }

            </div>
        </div>



    </div>
</div>

