@model BookLib.Web.Models.SearchResultViewModel

<blockquote class="text-warning">
    <h4>Search Result for <strong>@Model.SearchKey</strong> </h4>
    @Html.DropDownListFor(model => model.SelectedFilterType, Model.FilterTypes, "-- Select Filter Type --", new { @class = "form-control" })
</blockquote>
<hr/>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("PlaceDemand", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            foreach (var m in Model.SearchResults)
            {
                <div class="row">
                    <div class="media">
                        <div class=" media-body">
                            <h3 class="media-heading">@m.Title</h3>
                            <span class="pull-left">
                                <strong>Publisher:</strong> [@m.Publisher]
                                <br />
                                <strong>Author:</strong> @m.Authors
                                <p><strong>Description:</strong> @m.Description</p>
                            </span>

                            <span class=" pull-right">
                                <input type="submit" value="Place Demand" class="form-control btn btn-primary" />
                            </span>
                            
                        </div>
                        <hr />
                    </div>
                </div>

            }
        }


       


    </div>
</div>